.THIS .header {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #005eaf;
    padding-bottom: 30px;
}

.THIS .section-label {
    font-weight: bold;
    font-size: 1.25em;
    color: #006bc9;
}

.THIS .section-sublabel {
    font-weight: bold;
    font-size: 1.00em;
    color: #333333;
}